@model SysControlVivero.EntidadesDeNegocio.DetalleVenta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DetalleVenta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDetalleVenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDetalleVenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descuento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descuento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormaDePago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormaDePago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VentaNoSujeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VentaNoSujeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VentaExenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VentaExenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Top_Aux)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Top_Aux)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
